.register{
    width: 100%;
    height: 100vh;
    background-image: url('http://wallpapercave.com/wp/wp1843759.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.registerTitle{
    font-size: 34px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    height: 300px;
    width: 500px;
}
.registerForm > label{
    padding-left: 50px;
    padding-bottom: 10px;
}
.registerForm > input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    outline: none;
    color: white;
}
.registerButton{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px 0px;
    border-radius: 8px;
    cursor: pointer;
}
.registerLoginButton{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}